body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open sans';
  }
  
a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#263343;
    padding: 8px 12px;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
  }

.navbar__logo {
    font-size: 24px;
    color: white;
}

.navbar__logo img{
    width: 50px;
    height: auto;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.navbar__menu a {
    color: #b2a59f; 
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu :hover {
    border-radius: 4px;
    color: #6b799e;
}

.navbar__icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0px;
}

.navbar__icons li {
    padding: 8px 12px;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
}


@media (min-width: 64em){
    body{
        font-size: 1.125rem;
    }
}

h2, h3{
    color: #2d314d;
    font-weight: 500;
}

h2{
    font-size: 1.875rem;
    margin-bottom: 1.875rem;
}

@media (min-width: 64em){
    h2{
        font-size: 2.25rem;
        margin-bottom: 2.25rem;
    }
}

.container{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    height: 75vh;
}

@mdeia (min-width: 64em){
    .container{
        max-width: 69.375rem;
        margin: 0 auto;
    }
}

.section-heading{
    text-align: center;
    margin-bottom: 1.875rem;
}

@media (min-width: 40em){
    .section-heading{
        text-align: start;
        margin-bottom: 2.8125rem;
    }
}

@media (min-width: 64em){
    .section-heading{
        width: 60%;
    }
}

.articles{
    background: #fafafa;
    padding: 6.25rem 0;
}

.articles .articles-grid{
    display: grid;
    gap: 1.875rem;
    grid-template-columns: 1fr;
}

@media (min-width: 40em){
    .articles .articles-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 64em){
    .articles .articles-grid{
        grid-template-columns: repeat(4, 1fr);
    }
}

.articles .article{
    background: #fff;
    border-radius: .3.125rem;
    box-shadow: 0 .1875rem .75rem rgba(0,0,0,.15);
    transition: transform .2s ease-in-out;
    overflow: hidden;
}

.articles .article-image{
    height: 12.5rem;
}

.articles .article-image img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.articles .article:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.articles .article-text{
    padding: 1.875rem 1.5625rem 2.75rem 1.5625rem;
}

@media (min-width: 40em){
    .articles .article-text{
        padding: 1.875rem 1.5625rem 1.5625rem 1.5625rem;
    }
}

.articles .article-author span{
    display: block;
    font-size: .75rem;
    margin-bottom: 0.75rem;
}

.articles .article-title h3{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.2;
    transition: color .2s ease-in-out;
}

.articles .article-title h3:hover{
    color: #31d35c;
}

.articles .article-description p{
    font-size: .8125rem;
    line-height: 1.3;
}



